.body {
    display: flex;
    flex-direction: column;
    

}

.header {
    background-color: #1f2937;
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header-logo {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
    font-size: 24px;

}

.header-links {
    display: flex;
    gap: 16px;
}

.header-links a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.hero {
    background-color: #1f2937;
    display: flex;
    color: white;
    padding: 100px;
    gap: 16px;
 
}

.hero-text h1{
    font-size: 48px;
    font-weight: bolder;
    color: f9faf8;
    flex-shrink: 1;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.hero-text h2{
    font-size: 18px;
    color: e5e7eb;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.image-size{
    height:auto;
    width: 100%;
  }
  
  .container{
    display: flex;
  }

  .button1 {
    background-color: #3882f6;
    color: #fff;
    border:none;
    border-radius:25px;
    font-size: 20px;
    justify-content: center;
    padding: 10px;
  }

  .information {
      display: flex;
      flex-direction: column;
     align-items: center;
     padding-left: 200px;
     padding-right: 200px;
     padding-bottom: 100px;

  }
  .information h1{
    color: 1f2937;
    font-size: 36px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  }
  .information-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;

  }
  .infobox {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      max-width: 200px;
      align-items: center;


  }

  .info-image {
      height: 100px;
      width: 100px;

  }

  .info-text {
      display: flex;
      text-align: center;
  }

  .quotebox {
      display: flex;
      flex-direction: column;
      padding-left: 300px;
      padding-right: 300px;
      background-color: #e5e7eb;
      padding-top: 100px;
      gap: 10px;
      padding-bottom: 100px;


  }

  .quote {
        font-size: 36px;
        font-style: italic;
        color:#1f2937;


  }

  .quote-author {
    font-size: 28px;
    font-weight: bold;
      text-align: right;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  }

  .call {
      display: flex;
      justify-content: center;
      padding-top: 100px;
      padding-bottom: 100px;

  }


  .call-container {
      background-color: #3882f6;
      display: flex;
      padding: 10px 50px;
      justify-content: space-between;
      gap: 200px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      border-radius: 5px;
      color: #e5e7eb;

  }

  .button2 {
    background-color: #3882f6;
    color: #fff;
    border-color: #fff;
    border-radius:15px;
    font-size: 20px;
    justify-content: center;
    padding: 10px;



  }

  .call-button {
    display: flex;
    align-self: center;
 }

 .footer {
     font-size: 10px;
     display: flex;
     justify-content: center;
     background-color: black;
     color: #fff;
     padding: 10px;
 }